#btnstyle {
    position: fixed;
    bottom: 0px;
    right: 6px;
    min-width: 100px;
    cursor: pointer;
    white-space: nowrap;
    background-color: rgba(60, 60, 60, 0.6);
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    color: white;
    text-shadow: rgb(59, 76, 88) 1px 1px 0px;
    border: 1px solid rgb(80, 80, 80);
    border-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 5;
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.chatbox {
    position: fixed;
    bottom: 0px;
    right: 6px;
    width: 350px;
    height: 420px;
    background: #fff;
    padding: 10px;
    border: 3px solid rgb(80, 80, 80);
    border-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 3px #fbfbfb;
}
.chatlogs {
    padding: 10px;
    width: 100%;
    height: 360px;
    margin-bottom: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}
.chat-form {
    margin-top: -25px;
    display: flex;
    align-items: flex-start;
}
.chat_txt {
    background: #fbfbfb;
    width: 75%;
    height: 30px;
    border: 2px solid #eee;
    border-radius: 3px;
    resize: none;
    font-size: 18px;
    color: #333;
}
.chat_txt:focus {
    background: #fff;
}
.fa-close {
    margin-left: 5px;
    padding: 3px;
    opacity: 0.7;
}