<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <template id="assets_frontend" name="assets" inherit_id="web.assets_frontend">
            <xpath expr="." position="inside">
                <script type="text/javascript" src="/task_owl/static/src/js/app.js"></script>
                <link href="/task_cart_payment/static/src/scss/cart_css.scss" rel="stylesheet" type="text/scss"/>
            </xpath>
        </template>

<!--         <template id="task_owl.demo_template">
            <t t-call="portal.portal_layout">
                <div class="my_component">
                </div>
            </t>
    </template> -->
    <template id="task_owl.product_list">
        <t t-call="portal.frontend_layout">
        <!-- <t t-call="task_cart_payment.fleet_portal_menu"/> -->
            <div class="container">
                <div id="main">
                    <section id="content">
                        <div id="left" >
                            <ul>
                                <div class="product_list_component"></div>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </t>
    </template>

    </data>
</odoo>