<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <template id="assets_frontend" name="assets" inherit_id="web.assets_frontend">
            <xpath expr="." position="inside">
                <script type="text/javascript" src="/task_owl/static/src/js/product_list.js"></script>
                <script type="text/javascript" src="/task_owl/static/src/js/cart.js"></script>
                <script type="text/javascript" src="/task_owl/static/src/js/sub_component.js"></script>
                <link href="/task_owl/static/src/scss/cart_css.scss" rel="stylesheet" type="text/scss"/>
                <link href="/task_owl/static/src/scss/menu.scss" rel="stylesheet" type="text/scss"/>
            </xpath>
        </template>

<!--         <template id="task_owl.demo_template">
            <t t-call="portal.portal_layout">
                <div class="my_component">
                </div>
            </t>
    </template> -->
    <template id="task_owl.product_list">
        <t t-call="portal.frontend_layout">
            <!-- <menu/> -->
        <!-- <t t-call="task_cart_payment.fleet_portal_menu"/> -->

                                <div class="product_list_component"></div>
                            
        </t>
    </template>
    <template id="task_owl.cart" name="Shopping Cart">
        <t t-call="portal.frontend_layout">
        <div class="menu_component"></div>
                    <div class="cart_component"></div>
        </t>
    </template>
    </data>
</odoo>