<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <template id="assets_frontend" inherit_id="web.assets_frontend" name="Demo Assets">
        <xpath expr="//link[last()]" position="inside">
            <script src="/task_owl/static/src/js/owl.js" type="text/javascript"/>
            <script src="/task_owl/static/src/js/app.js" type="text/javascript"/>
        </xpath>
    </template>
    <template t-name="abc">
            <!-- <t t-name="abc"> -->
        <t t-call="portal.portal_layout">
            <h1>kasnckasnkc</h1>
            <xyz></xyz>
        </t>
    <!-- </t> -->
    </template>
</odoo>
